@model SalesWebMvc.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />
@* row pertence ao bootstrap e indica que esse div ocupará toda a largura da tela*@
<div class="row">
    @* col-md-4 pertence ao bootstrap e indica que essa div ocupará 1/3 da tela
        Bootstrap divide a tela em 12 partes, portanto 4 seria um terço*@
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Seller.Id" />
            <div class="form-group">
                @* define o label do objeto que aparecerá na caixinha para digitar *@
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

